# GRAPHICAL ANALYSIS OF THE TeFE MODEL

## Prepping up

In [1]:
import pandas as pd
import numpy as np
import csv

In [8]:
mix_df = pd.read_csv('mix_test.csv')
agents_df = pd.read_csv('agents_test.csv')
contracts_df = pd.read_csv('contracts_test.csv')
technologic_df = pd.read_csv('technologic_test.csv')

In [11]:
print('lines, ', mix_df.shape[0])
print('columns, ', mix_df.shape[1])
mix_df.head()

lines,  1119
columns,  39

,seed_name,period,BB,CAPEX,CF,EP,Lumps,MW,MWh,OPEX,...,price,principal,receiver,retirement,risk,sender,source,source_name,status,transport
0,2,45,BNDES,60000000.0,0.29,EP_0,3.0,20,12528.0,8666.799397,...,15.394861,6.072397e+07,EP_0,405,0,BNDES,1,solar,contracted,True
1,2,46,BNDES,60000000.0,0.29,EP_0,3.0,20,12528.0,8666.799397,...,15.394861,6.072397e+07,EP_0,405,0,BNDES,1,solar,contracted,True
2,2,47,BNDES,60000000.0,0.29,EP_0,3.0,20,12528.0,8666.799397,...,15.394861,6.072397e+07,EP_0,405,0,BNDES,1,solar,contracted,True
3,2,48,BNDES,60000000.0,0.29,EP_0,3.0,20,12528.0,8666.799397,...,15.394861,6.072397e+07,EP_0,405,0,BNDES,1,solar,contracted,True
4,2,49,BNDES,60000000.0,0.29,EP_0,3.0,20,12528.0,8666.799397,...,15.394861,6.072397e+07,EP_0,405,0,BNDES,1,solar,contracted,True

In [13]:
print('lines, ', agents_df.shape[0])
print('columns, ', agents_df.shape[1])
agents_df.head()

lines,  34719
columns,  64

,period,name,genre,wallet,capacity,Technology,profits,RnD_threshold,RandD,capacity_threshold,...,index_per_source,auction_capacity,profits0,profits1,profits2,seed_name,Demand,Remaining_demand,Demand_by_source,Price
0,0,TP_0,TP,1000000.0,520000.0,"{'name': 'TP_wind', 'green': True, 'source': 1...",0.0,4.000000,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,0,TP_1,TP,900000.0,20000.0,"{'name': 'TP_1', 'green': True, 'source': 2, '...",0.0,604498.841746,630000.0,3.0,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,0,EP_0,EP,150000000.0,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,0,EP_1,EP,150000000.0,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,0,EP_2,EP,150000000.0,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

In [14]:
print('lines, ', contracts_df.shape[0])
print('columns, ', contracts_df.shape[1])
contracts_df.head()

lines,  6404
columns,  43

,period,sender,receiver,status,bound,value,name,green,source,source_name,...,price_expiration,limit,seed_name,ammortisation,risk,principal,EP,BB,completion,retirement
0,2,TPM,TP_1,payment,unbound,1.000000e+10,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,TPM,TP_1,payment,unbound,1.000000e+10,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,TPM,TP_1,payment,green,3.500000e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,TPM,TP_1,payment,green,3.500000e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,TPM,TP_1,payment,green,1.750000e+09,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print('lines, ', technologic_df.shape[0])
print('columns, ', technologic_df.shape[1])
technologic_df.head()

lines,  12600
columns,  19

,period,name,green,source,source_name,CAPEX,OPEX,dispatchable,transport,CF,MW,lifetime,building_time,last_radical_innovation,last_marginal_innovation,emissions,avoided_emissions,base_CAPEX,seed_name
0,0,TP_thermal,False,0,thermal,100000000,30000.000000,True,False,0.70,100.0,300,24,0,0,5000,-5000,NaN,0
1,0,TP_wind,True,1,solar,20000000,2300.297196,True,True,0.29,20.0,360,12,0,8,0,250,20000000.0,0
2,0,TP_1,True,2,solar,10000,200.000000,True,True,0.10,1.0,300,6,0,4,0,50,10000.0,0
3,1,TP_thermal,False,0,thermal,100000000,30000.000000,True,False,0.70,100.0,300,24,0,0,5000,-5000,NaN,0
4,1,TP_wind,True,1,solar,20000000,2300.297196,True,True,0.29,20.0,360,12,0,8,0,250,20000000.0,0

In [5]:
columns = list(mix_df[:])
columns

['seed_name',
 'period',
 'BB',
 'CAPEX',
 'CF',
 'EP',
 'Lumps',
 'MW',
 'MWh',
 'OPEX',
 'TP',
 'ammortisation',
 'auction_contracted',
 'avoided_emissions',
 'base_CAPEX',
 'building_time',
 'capacity',
 'code',
 'completion',
 'dispatchable',
 'emissions',
 'green',
 'guarantee',
 'last_marginal_innovation',
 'last_radical_innovation',
 'lifetime',
 'name',
 'old_CAPEX',
 'old_OPEX',
 'price',
 'principal',
 'receiver',
 'retirement',
 'risk',
 'sender',
 'source',
 'source_name',
 'status',
 'transport']

In [6]:
mix_df.groupby(["period"])[columns].mean()

,seed_name,period,CAPEX,CF,Lumps,MW,MWh,OPEX,ammortisation,auction_contracted,...,last_radical_innovation,lifetime,old_CAPEX,old_OPEX,price,principal,retirement,risk,source,transport
period,,,,,,,,,,,,,,,,,,,,,
21,5.000000,21.0,60000000.0,0.29,3.0,20.0,12528.0,9000.000000,308.0,0.0,...,0.0,360.0,20000000.0,3000.000000,15.424117,6.072397e+07,381.0,0.0,1.0,1.0
22,5.000000,22.0,60000000.0,0.29,3.0,20.0,12528.0,9000.000000,308.0,0.0,...,0.0,360.0,20000000.0,3000.000000,15.424117,6.072397e+07,381.0,0.0,1.0,1.0
23,5.000000,23.0,60000000.0,0.29,3.0,20.0,12528.0,9000.000000,308.0,0.0,...,0.0,360.0,20000000.0,3000.000000,15.424117,6.072397e+07,381.0,0.0,1.0,1.0
24,5.000000,24.0,60000000.0,0.29,3.0,20.0,12528.0,9000.000000,308.0,0.0,...,0.0,360.0,20000000.0,3000.000000,15.424117,6.072397e+07,381.0,0.0,1.0,1.0
25,5.000000,25.0,60000000.0,0.29,3.0,20.0,12528.0,9000.000000,308.0,0.0,...,0.0,360.0,20000000.0,3000.000000,15.424117,6.072397e+07,381.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,5.333333,415.0,60000000.0,0.29,3.0,20.0,12528.0,8888.933132,334.0,0.0,...,0.0,360.0,20000000.0,2962.977711,15.414365,6.072397e+07,407.0,0.0,1.0,1.0
416,5.333333,416.0,60000000.0,0.29,3.0,20.0,12528.0,8888.933132,334.0,0.0,...,0.0,360.0,20000000.0,2962.977711,15.414365,6.072397e+07,407.0,0.0,1.0,1.0
417,5.333333,417.0,60000000.0,0.29,3.0,20.0,12528.0,8888.933132,334.0,0.0,...,0.0,360.0,20000000.0,2962.977711,15.414365,6.072397e+07,407.0,0.0,1.0,1.0
418,5.333333,418.0,60000000.0,0.29,3.0,20.0,12528.0,8888.933132,334.0,0.0,...,0.0,360.0,20000000.0,2962.977711,15.414365,6.072397e+07,407.0,0.0,1.0,1.0
419,5.333333,419.0,60000000.0,0.29,3.0,20.0,12528.0,8888.933132,334.0,0.0,...,0.0,360.0,20000000.0,2962.977711,15.414365,6.072397e+07,407.0,0.0,1.0,1.0

In [7]:
mix_df[mix_df['period'] == 359].groupby(["source"])[columns].sum()

,seed_name,period,CAPEX,CF,Lumps,MW,MWh,OPEX,ammortisation,auction_contracted,...,last_radical_innovation,lifetime,old_CAPEX,old_OPEX,price,principal,retirement,risk,source,transport
source,,,,,,,,,,,,,,,,,,,,,
1,16,1077,180000000.0,0.87,9.0,60,37584.0,26666.799397,1002,0,...,0,1080,60000000,8888.933132,46.243094,1.821719e+08,1221,0,3,3

In [7]:
age